<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schmoeker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FeedActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArticleActivity"
            android:label="@string/title_activity_article"
            android:parentActivityName=".FeedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".management.FeedManagementActivity"
            android:label="@string/title_activity_feed_management"
            android:parentActivityName=".FeedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditFeedActivity"
            android:label="@string/title_activity_edit_feed"
            android:parentActivityName=".management.FeedManagementActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".FeedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <service
            android:name=".sync.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name=".sync.SyncService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".widget.AppWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".widget.SchmoekerAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schmoeker_widget_info" />
        </receiver>

        <service
            android:name=".widget.UpdateWidgetService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>