<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schmoeker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.schmoeker.FeedActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArticleActivity"
            android:parentActivityName=".FeedActivity"
            android:label="@string/title_activity_article"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.schmoeker.FeedManagementActivity"
            android:parentActivityName=".FeedActivity"
            android:label="@string/title_activity_feed_management"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.schmoeker.EditFeedActivity"
            android:parentActivityName=".FeedManagementActivity"
            android:label="@string/title_activity_edit_feed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.schmoeker.settings.SettingsActivity"
            android:parentActivityName=".FeedActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>